#list-feature-jobs .btn-slick-arrow {
    align-items: center;
    aspect-ratio: 1 / 1;
    border: 1px solid #00b14f;
    border-radius: 50%;
    color: #00b14f !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 32px;
}