@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left-1 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slide-left-2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide-left-1 {
    animation: slide-left-1 50s linear infinite;
  }
  
  .animate-slide-left-2 {
    animation: slide-left-2 52s linear infinite;
  }